{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block page_title %}Contact Us{% endblock %}

{% block page_heading %}<h3 class="success">Contact Us</h3>{% endblock %}

{% block content %}

{% if submitted %}
    <p class="submit-success">
        Your message was submitted successfuly. Thank you.
    </p>

{% else %}
    <div class="col-12 col-lg-9 mx-auto mb-3">
        <form action="" method="post" novalidate>
            {{ form | as_bootstrap }}
            <div class="col-12 col-md-10 col-lg-7 mx-auto">
                <input class="" type="submit" value="Submit">
            </div>
            {% csrf_token %}
        </form>
    </div>
{% endif %}

{% endblock %}