{% extends "base.html" %}

{% block page_title %}Password Reset Page{% endblock %}

{% block page_heading %}<h3 class="success">Reset Password</h3>{% endblock %}

{% block content %}
<div class="col-12 col-lg-9 mx-auto mb-3">
    <form method = "POST">
        <p>Please enter your email address to receive instructions for resetting it.</p>
        {% csrf_token %}
        {{ form.email.errors}}
        <p>
            <label for= "id_email">Email address:</label>
            {{ form.email }}
            <button class="btn btn-outline-success mt-3" type= "submit">Reset Password</button>
        </p>
    </form>
</div>
{% endblock %}