{% extends 'base.html' %}

{% block page_title %}Products{% endblock %}

{% block content %}
    <div class="row">
        {% for product in products %}
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2 center">
                <div class="card-deck">
                    <div class="card h-100 text-center card-style">
                        <a href="{% url 'product_info' product.slug %}">
                            <img src="{{ MEDIA_URL }}{{ product.image }}" class="card-img-top" alt="book cover image">
                        </a>
                        <div class="card-body card-text-style">
                            <h5 class="card-title"><i class="fa fa-euro"></i>{{ product.price }}</h5>
                            <a href="{% url 'product_info' product.slug %}">
                                <p class="card-text">{{ product.name }}
                                <span class= "text-muted"> ({{ product.publisher }})</span></p>
                            </a>
                            <div class="text-center mt-3">
                            {% if product.status == "In Stock" %}
                                <form method="post" action="{% url 'add_to_cart' product.id %}">
                                    {% csrf_token %}
                                    <div>
                                        <button class="btn btn-success button-style center" type="submit">Add to cart</button>
                                    </div>
                                </form>
                            {% else %}
                                <div>
                                    <a class="btn btn-warning button-style center" href= "{% url 'product_info' product.slug %}">Awaiting Stock</a>
                                </div>
                            {% endif %}   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}