{% extends 'base.html' %}

{% block page_title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
    <!-- Book Image -->
        <div class="col-12 col-sm-4 col-md-4">
            <img src="{{ MEDIA_URL }}{{ product.image }}" class="card-img-top img-size mb-3" alt="book cover image">
        </div>
        <!-- Book Info -->
        <div class="col-12 col-sm-8 col-md-8">
            <div class= "col pl-0 mb-3">
                <h2 class= "book-title">{{ product.name }}</h2>
            </div>
            <div class= "col pl-0 mb-3">
                <p><b>Publisher</b>: <span class= "text-muted"> {{ product.publisher }}</span></p>
            </div>
            <div class= "col pl-0 mb-3">
                <h5 class="card-title"><i class="fa fa-euro"></i>{{ product.price }}</h5>
            </div>
            <div class= "col pl-0 mb-3">
                {% if product.status == "In Stock" %}
                <p class="success">{{ product.status }}</p>
                {% else %}
                <p class="danger">{{ product.status }}</p>
                {% endif %}
            </div>
            <div class="col pl-0 mb-3">
                <div class="col-11 col-sm-10 pl-0">
                {% if product.status == "In Stock" %}
                    <form method="post" action="{% url 'adjust_cart' product.id %}">
                        {% csrf_token %}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Qty:</span>
                            </div>
                            <input name="quantity" type="number" min="1" max="999" class="form-control" value="">
                            <button class="btn btn-success button-style center" type="submit">
                                Add to Cart
                            </button>
                        </div>
                    </form>
                {% endif %}
                </div>
            </div>
            <!-- Book description -->
            <div class= "container pl-0 pr-0 mt-5">
               <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#product-details">Product Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#description">Description</a>
                    </li>
                </ul>
            </div>
            <!-- Tab panes -->
            <div class="tab-content border rounded border-top-0 mb-3">
                <div id="product-details" class="container-fluid tab-pane active"><br>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <p><b>School Level :</b> <span> {{ product.school_level }}</span></p>
                            <p><b>Class :</b> <span> {{ product.stage }}</span></p>
                            <p><b>Subject :</b> <span> {{ product.subject }}</span></p>
                            <p><b>Publisher :</b> <span> {{ product.publisher }}</span></p>
                            <p><b>Author :</b> <span> {{ product.author }}</span></p>
                        </div>
                        <div class="col-12 col-md-6">
                            <p><b>Product :</b> <span> {{ product.product }}</span></p>
                            <p><b>Format:</b> <span> {{ product.cover_format }}</span></p>
                            <p><b>Language:</b> <span> {{ product.language }}</span></p>
                            <p><b>Pages:</b> <span> {{ product.pages }}</span></p>
                            <p><b>Publication Date:</b> <span> {{ product.publication_year }}</span></p>
                       </div>
                    </div> 
                </div>
                <div id="description" class="container tab-pane fade"><br>
                    <p>{{ product.description }}</p>
                </div>
            </div>
        </div>
    </div> 
</div>
{% endblock %}