/* Navbar */
.navbar-bg-color {
    background-color: #9ecf16fd;
}

/* Page content */
.page-content {
    margin-top: 120px;
}

/* Card */
.card-style,
.cart-image {
    width: 14rem;
    margin: 5px;
}

.card-text {
    color: rgb(70, 66, 66);
}

.col-6 {
    padding: 0;
}

.col-sm-4 {
    padding: 10px;
}

.success {
    color: green;
}

.danger {
    color: red;
}

.book-title {
    color: green;
}

.img-size {
    width: 18rem;
}

@media (max-width: 400px) {
    .card-style {
        width: 8rem;
        margin: auto;
    }

    .card-text-style {
        font-size: 11px;
        padding: 5px 5px 15px;    
    }

    .button-style {
    font-size: 12px;    
    }

    .img-size {
        width: 10rem;
    }
}

@media (min-width: 401px) and (max-width: 575px) {
    .card-style {
        width: 12rem;
        margin: auto;
    }

    .img-size {
        width: 10rem;
    }
}

/* Cart */

.icon-style {
    margin-right: 5px;
}

@media (max-width: 767.98px) {
    .cart-image {
        width: 8rem;
        margin: auto;
    }

    .cart-info {
        font-size: 12px;
    }

    .cart-price {
        padding-right: 0px;
        font-size: 16px;
    }

    .img-size {
        width: 10rem;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .img-size {
        width: 12rem;
    }
}
