{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block page_title %}Cart{% endblock %}

{% block page_heading %}<h3>Cart</h3>{% endblock %}

{% block content %}

<div class="row">
    <div class="col-9 col-sm-8 col-md-7"></div>
    <div class="col-3 col-sm-2 col-md-3"><b>Price</b></div>
</div>

<div class="col-12 col-md-10">
    <hr>
</div>


{% for item in cart_items %}
<div class="row">
    <!-- Image column -->
    <div class="col-3 col-lg-2 cart-image mt-0">
        <a href="{% url 'product_info' item.product.slug %}">
            <img src="{{ MEDIA_URL }}{{ item.product.image }}" class="card-img-top" alt="book cover image">
        </a>    
    </div>
    <!-- Discription column -->
    <div class="col-6 col-sm-5 col-lg-5 cart-info">
        <p class="card-text">{{ item.product.name }}</p>
        <p><i>( {{ item.product.publisher }} )</i></p>

        {% if item.product.status == "In Stock" %}
        <p class="success">{{ item.product.status }}</p>
        {% else %}
        <p class="danger">{{ item.product.status }}</p>
        {% endif %}
        <div class="row">
            <div class="col-11 col-sm-10">
                <form method="post" action="{% url 'adjust_cart' item.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Qty:</span>
                        </div>
                        <input name="quantity" type="number" min="1" max="999" class="form-control" value="{{ item.quantity }}">
                        <button class="btn btn-outline-secondary button-style center" type="submit">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class= "col pl-0 my-3">
            <h5 class="card-title"><i class="fa fa-euro"></i>{{ item.product.price }}</h5>
        </div>
        <div class="mt-3">
            <a href="{% url 'delete_cart_item' item.id %}" class="btn btn-outline-secondary button-style" role="button">
            <i class="fa fa-trash-o icon-style" aria-hidden="true"></i>Delete</a>
        </div>   
    </div>
    <!-- Price column -->
    <div class="col-3 cart-price px-0">
        <h5 class="cart-price"><i class="fa fa-euro"></i><b>{{ item.product_total }}</b></h5>
    </div>
</div>
<div class="col-12 col-md-10">
    <hr>
</div>
{% endfor %}

<!-- Total price -->
<div class="row">
    <div class="col-5 col-sm-5 col-md-5 col-lg-5"></div>
    <div class="col-4 col-sm-4 col-md-3 col-lg-2">
        <h5><b>Subtotal: </b></h5>
    </div>
    <div class="col-3 col-sm-3 col-md-3 col-lg-3 cart-price">
        <h5><span class="cart-price"><i class="fa fa-euro"></i><b>{{ total }}</b></span></h5>
    </div>
</div>

{% endblock %}