<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

     <title>Mega Menu</title>
</head>
<body>

<li class="nav-item dropdown menu-area">
    <a class="nav-link dropdown-toggle uppercase" href="#" id="mega-one" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Primary Books
    </a>
    <div class="dropdown-menu mega-area" aria-labelledby="mega-one">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <h5 class="submenu-category">Junior Infants</h5>
                <a class="dropdown-item" href="#">English</a>
                <a class="dropdown-item" href="#">Irish</a>
                <a class="dropdown-item" href="#">Maths</a>
                <a class="dropdown-item" href="#">SESE</a>
            </div>
            <div class="col-sm-6 col-lg-3">
                <h5 class="submenu-category">Senior Infants</h5>
                <a class="dropdown-item" href="#">English</a>
                <a class="dropdown-item" href="#">Irish</a>
                <a class="dropdown-item" href="#">Maths</a>
                <a class="dropdown-item" href="#">Science/SESE</a>
            </div>
            <div class="col-sm-6 col-lg-3">
                <h5 class="submenu-category">First Class</h5>
                <a class="dropdown-item" href="#">English</a>
                <a class="dropdown-item" href="#">Irish</a>
                <a class="dropdown-item" href="#">Maths</a>
                <a class="dropdown-item" href="#">Geography</a>
                <a class="dropdown-item" href="#">HIstory</a>
                <a class="dropdown-item" href="#">Science</a>
            </div>
            <div class="col-sm-6 col-lg-3">
                <h5 class="submenu-category">Second Class</h5>
                <a class="dropdown-item" href="#">English</a>
                <a class="dropdown-item" href="#">Irish</a>
                <a class="dropdown-item" href="#">Maths</a>
                <a class="dropdown-item" href="#">Geography</a>
                <a class="dropdown-item" href="#">HIstory</a>
                <a class="dropdown-item" href="#">Science</a>
            </div>
            <div class="col-sm-6 col-lg-3">
                <h5 class="submenu-category">Third Class</h5>
                <a class="dropdown-item" href="#">English</a>
                <a class="dropdown-item" href="#">Irish</a>
                <a class="dropdown-item" href="#">Maths</a>
                <a class="dropdown-item" href="#">Geography</a>
                <a class="dropdown-item" href="#">HIstory</a>
                <a class="dropdown-item" href="#">Science</a>
            </div>
            <div class="col-sm-6 col-lg-3">
                <h5 class="submenu-category">Fourth Class</h5>
                <a class="dropdown-item" href="#">English</a>
                <a class="dropdown-item" href="#">Irish</a>
                <a class="dropdown-item" href="#">Geography</a>
                <a class="dropdown-item" href="#">HIstory</a>
                <a class="dropdown-item" href="#">Maths</a>
                <a class="dropdown-item" href="#">Science</a>
            </div>
            <div class="col-sm-6 col-lg-3">
                <h5 class="submenu-category">Fifth Class</h5>
                <a class="dropdown-item" href="#">English</a>
                <a class="dropdown-item" href="#">Irish</a>
                <a class="dropdown-item" href="#">Geography</a>
                <a class="dropdown-item" href="#">HIstory</a>
                <a class="dropdown-item" href="#">Maths</a>
                <a class="dropdown-item" href="#">Science</a>
            </div>
            <div class="col-sm-6 col-lg-3">
                <h5 class="submenu-category">Sixth Class</h5>
                <a class="dropdown-item" href="#">English</a>
                <a class="dropdown-item" href="#">Irish</a>
                <a class="dropdown-item" href="#">Geography</a>
                <a class="dropdown-item" href="#">HIstory</a>
                <a class="dropdown-item" href="#">Maths</a>
                <a class="dropdown-item" href="#">Science</a>
            </div>
        </div>
    </div>
</li>

</body>
</html>