<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle uppercase" type="button" data-toggle="dropdown">
        Primary Books
    </a>

    <ul class="dropdown-menu class-area">
        <div class="py-2">
            <li><a class="level" href="#">Junior Infants</a>
                <ul class="dropdown-menu subject-area">
                    <li class="subject-link mx-3 my-1 py-1"><a href="{% url 'search_by_class_subject' stage='Junior_Infants' subject='English' %}">English</a></li>
                    <li class="subject-link mx-3 my-1 py-1"><a href="{% url 'search_by_class_subject' stage='Junior_Infants' subject='Irish' %}">Irish</a></li>
                    <li class="subject-link mx-3 my-1 py-1"><a href="{% url 'search_by_class_subject' stage='Junior_Infants' subject='Maths' %}">Maths</a></li>
                    <li class="subject-link mx-3 my-1 py-1"><a href="{% url 'search_by_class_subject' stage='Junior_Infants' subject='SESE' %}">SESE</a></li>
                </ul>
            </li>
        </div>
        <div class="py-2">
            <li><a class="level" href="#">Senior Infants</a>
                <ul class="dropdown-menu subject-area">
                    <li class="subject-link mx-3 my-1 py-1"><a href="{% url 'search_by_class_subject' stage='Senior_Infants' subject='English' %}">English</a></li>
                    <li class="subject-link mx-3 my-1 py-1"><a href="{% url 'search_by_class_subject' stage='Senior_Infants' subject='Irish' %}">Irish</a></li>
                    <li class="subject-link mx-3 my-1 py-1"><a href="{% url 'search_by_class_subject' stage='Senior_Infants' subject='Maths' %}">Maths</a></li>
                    <li class="subject-link mx-3 my-1 py-1"><a href="{% url 'search_by_class_subject' stage='Senior_Infants' subject='Science_SESE' %}">Science/SESE</a></li>
                </ul>
            </li>
        </div>
        <div class="py-2">
            <li><a class="level" href="#">First Class</a>
                <ul class="dropdown-menu subject-area">
                    <li class="subject-link mx-3 my-1 py-1"><a href="{% url 'search_by_class_subject' stage='First_Class' subject='English' %}">English</a></li>
                    <li class="subject-link mx-3 my-1 py-1"><a href="{% url 'search_by_class_subject' stage='First_Class' subject='Irish' %}">Irish</a></li>
                    <li class="subject-link mx-3 my-1 py-1"><a href="{% url 'search_by_class_subject' stage='First_Class' subject='Maths' %}">Maths</a></li>
                    <li class="subject-link mx-3 my-1 py-1"><a href="{% url 'search_by_class_subject' stage='First_Class' subject='Geography' %}">Geography</a></li>
                    <li class="subject-link mx-3 my-1 py-1"><a href="{% url 'search_by_class_subject' stage='First_Class' subject='History' %}">History</a></li>
                    <li class="subject-link mx-3 my-1 py-1"><a href="{% url 'search_by_class_subject' stage='First_Class' subject='Science' %}">Science</a></li>
                </ul>
            </li>
        </div>
        <div class="py-2">
            <li><a class="level" href="#">Second Class</a>
                <ul class="dropdown-menu subject-area">
                    <li class="subject-link mx-3 my-1 py-1"><a href="{% url 'search_by_class_subject' stage='Second_Class' subject='English' %}">English</a></li>
                    <li class="subject-link mx-3 my-1 py-1"><a href="{% url 'search_by_class_subject' stage='Second_Class' subject='Irish' %}">Irish</a></li>
                    <li class="subject-link mx-3 my-1 py-1"><a href="{% url 'search_by_class_subject' stage='Second_Class' subject='Maths' %}">Maths</a></li>
                    <li class="subject-link mx-3 my-1 py-1"><a href="{% url 'search_by_class_subject' stage='Second_Class' subject='Geography' %}">Geography</a></li>
                    <li class="subject-link mx-3 my-1 py-1"><a href="{% url 'search_by_class_subject' stage='Second_Class' subject='History' %}">History</a></li>
                    <li class="subject-link mx-3 my-1 py-1"><a href="{% url 'search_by_class_subject' stage='Second_Class' subject='Science' %}">Science</a></li>
                </ul>
            </li>
        </div>
        <div class="py-2">
            <li><a class="level" href="#">Third Class</a>
                <ul class="dropdown-menu subject-area">
                    <li class="subject-link mx-3 my-1 py-1"><a href="{% url 'search_by_class_subject' stage='Third_Class' subject='English' %}">English</a></li>
                    <li class="subject-link mx-3 my-1 py-1"><a href="{% url 'search_by_class_subject' stage='Third_Class' subject='Irish' %}">Irish</a></li>
                    <li class="subject-link mx-3 my-1 py-1"><a href="{% url 'search_by_class_subject' stage='Third_Class' subject='Maths' %}">Maths</a></li>
                    <li class="subject-link mx-3 my-1 py-1"><a href="{% url 'search_by_class_subject' stage='Third_Class' subject='Geography' %}">Geography</a></li>
                    <li class="subject-link mx-3 my-1 py-1"><a href="{% url 'search_by_class_subject' stage='Third_Class' subject='History' %}">History</a></li>
                    <li class="subject-link mx-3 my-1 py-1"><a href="{% url 'search_by_class_subject' stage='Third_Class' subject='Science' %}">Science</a></li>
                </ul>
            </li>
        </div>
        <div class="py-2">
            <li><a class="level" href="#">Fourth Class</a>
                <ul class="dropdown-menu subject-area">
                    <li class="subject-link mx-3 my-1 py-1"><a href="{% url 'search_by_class_subject' stage='Fourth_Class' subject='English' %}">English</a></li>
                    <li class="subject-link mx-3 my-1 py-1"><a href="{% url 'search_by_class_subject' stage='Fourth_Class' subject='Irish' %}">Irish</a></li>
                    <li class="subject-link mx-3 my-1 py-1"><a href="{% url 'search_by_class_subject' stage='Fourth_Class' subject='Maths' %}">Maths</a></li>
                    <li class="subject-link mx-3 my-1 py-1"><a href="{% url 'search_by_class_subject' stage='Fourth_Class' subject='Geography' %}">Geography</a></li>
                    <li class="subject-link mx-3 my-1 py-1"><a href="{% url 'search_by_class_subject' stage='Fourth_Class' subject='History' %}">History</a></li>
                    <li class="subject-link mx-3 my-1 py-1"><a href="{% url 'search_by_class_subject' stage='Fourth_Class' subject='Science' %}">Science</a></li>
                </ul>
            </li>
        </div>
         <div class="py-2">
            <li><a class="level" href="#">Fifth Class</a>
                <ul class="dropdown-menu subject-area">
                    <li class="subject-link mx-3 my-1 py-1"><a href="{% url 'search_by_class_subject' stage='Fifth_Class' subject='English' %}">English</a></li>
                    <li class="subject-link mx-3 my-1 py-1"><a href="{% url 'search_by_class_subject' stage='Fifth_Class' subject='Irish' %}">Irish</a></li>
                    <li class="subject-link mx-3 my-1 py-1"><a href="{% url 'search_by_class_subject' stage='Fifth_Class' subject='Maths' %}">Maths</a></li>
                    <li class="subject-link mx-3 my-1 py-1"><a href="{% url 'search_by_class_subject' stage='Fifth_Class' subject='Geography' %}">Geography</a></li>
                    <li class="subject-link mx-3 my-1 py-1"><a href="{% url 'search_by_class_subject' stage='Fifth_Class' subject='History' %}">History</a></li>
                    <li class="subject-link mx-3 my-1 py-1"><a href="{% url 'search_by_class_subject' stage='Fifth_Class' subject='Science' %}">Science</a></li>
                </ul>
            </li>
        </div>
        <div class="py-2">
            <li><a class="level" href="#">Sixth Class</a>
                <ul class="dropdown-menu subject-area">
                    <li class="subject-link mx-3 my-1 py-1"><a href="{% url 'search_by_class_subject' stage='Sixth_Class' subject='English' %}">English</a></li>
                    <li class="subject-link mx-3 my-1 py-1"><a href="{% url 'search_by_class_subject' stage='Sixth_Class' subject='Irish' %}">Irish</a></li>
                    <li class="subject-link mx-3 my-1 py-1"><a href="{% url 'search_by_class_subject' stage='Sixth_Class' subject='Maths' %}">Maths</a></li>
                    <li class="subject-link mx-3 my-1 py-1"><a href="{% url 'search_by_class_subject' stage='Sixth_Class' subject='Geography' %}">Geography</a></li>
                    <li class="subject-link mx-3 my-1 py-1"><a href="{% url 'search_by_class_subject' stage='Sixth_Class' subject='History' %}">History</a></li>
                    <li class="subject-link mx-3 my-1 py-1"><a href="{% url 'search_by_class_subject' stage='Sixth_Class' subject='Science' %}">Science</a></li>
                </ul>
            </li>
        </div>
    </ul>

</li>